html {
  height: 100%;
  background: url("bgbg.jpg");
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  font-family: "lato", sans-serif!important;
  color:white!important;
}

#title {

  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-left: auto;
  margin-right: auto;

}

.body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form{
  position: relative;
  font-size: 20px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s
}
h3{
  margin-top: 0px;
  margin-bottom: 30px!important;
  text-align: center;
}
#signup,#signin{
  position: absolute;
  display: block;
  width: 100px;
  height: 80px;
  left: 90%;
  top: 50px;
}
#signup h3,#signin h3{
  margin-bottom: 0px;
}
input{
  margin-top: 0px;
  margin-bottom: 20px;
  border-radius: 0px;
  height: 49px;
  color: black!important
}
.triangle-left {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid rgb(255,255,255);
	border-bottom: 25px solid transparent;
}
.triangle-right {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid rgb(255,255,255);
	border-bottom: 25px solid transparent;
}
input[type=submit]{
  background:rgba(255,255,255,0);
  color: white!important;
}
a,a:hover,h3,h4,h2{
  color: white!important;

}
a#forgotp{
  left: 0;
}
.INPUT{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
