.bg{
  background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.5)),url("bg.jpg");

}
.btn {
  transition: none;
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  z-index: 2;
  top: 0px;
}
#accordion{
  width: 70%;
  margin: auto;
}
.logo{
  margin-left: 5%;
}