
.home_head{
  background-image: url("bg/bg.jpg");
  height: 100%;
  position: relative
  width: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
.header h1{
  height: auto;
  position: relative;
  color: white;
  font-size: 120px!important;
  font-family: 'Ubuntu', sans-serif;
  opacity: 0%;
  transition: 1.5s;
  margin-bottom: 0;
  text-align: center;
  margin-top: 5%;
}
.header{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.services img{
  border-radius: 50%;
  height: 200px;
  width: 60%;
}
.services{
  margin-top: 10%;
  height:400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.activity{
  margin-right: 30px;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.activity .container p,.activity .container h3{
  text-align: center;
  margin: 0;
}
