{% extends "dashboard/base.html" %}
<!doctype html>
{%load static %}
{% block title %}
<title>Create</title>
{% endblock %}
{%block css%}
<link rel="stylesheet" href="{% static 'dashboard/create/create.css' %}">
{%endblock%}
{% block body %}
<!-- <img class="cover"src="{% static 'dashboard/create/bg.jpg' %}" alt=""> -->
<div class="bg other_tabs">
  <nav id="topnav"class="mb-1 navbar navbar-expand-lg navbar-dark secondary-color lighten-1">
<a class="navbar-brand" href="{% url 'home' user.username%}">Jpis Clubs</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
  aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent-555">
  <ul class="navbar-nav">
    <li class="nav-item tabs {{h_active}}">
      <a class="nav-link" href="{% url 'home' user.username%}">Home
      </a>
    </li>
    <li class="nav-item tabs {{c_active}}">
      <a class="nav-link" href="{% url 'create' user.username%}">Create</a>
    </li>
    <li class="nav-item tabs {{j_active}}">
      <a class="nav-link" href="{% url 'join' user.username %}">Join</a>
    </li>
    <li class="nav-item tabs {{m_active}}">
      <a class="nav-link" href="{% url 'manage' user.username %}">Manage</a>
    </li>
    <li class="nav-item tabs {{n_active}}">
      <a class="nav-link" href="{% url 'notifications' user.username %}">Notifications</a>
    </li>
  </ul>
  <ul class="navbar-nav  nav-flex-icons">
    <!-- <li class="nav-item">
      <a class="nav-link waves-effect waves-light">1
        <i class="fas fa-envelope"></i>
      </a>
    </li> -->
    <li class="nav-item avatar dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-user" aria-hidden="true"></i>

      </a>
      <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
        aria-labelledby="navbarDropdownMenuLink-55">
        <a class="dropdown-item" href="{% url 'profile' user.username %}">Your Profile</a>
        <a class="dropdown-item" href="{% url 'lg_out'%}">Log Out</a>

      </div>
    </li>
  </ul>
</div>
</nav>
  <h1 id="title">Create Your Dream.</h1>
</div>
<div class="container form jumbotron">

    <form class="" action="{% url 'create' user.username %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="avtcontainer">
          <div class="avatar-upload">
              <div class="avatar-edit">
                  <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                  <label for="imageUpload"></label>
              </div>
              <div class="avatar-preview">
                  <div id="imagePreview" >
                    <h3 id="iminst">Upload Your Logo</h3>
                  </div>
              </div>
          </div>
      </div>
      <div class="inp">
        <label for="club_name">Name of the club/organisation</label><br>
        <input type="text" id="club_name"name="club_name" value=""required><br>
      </div>
      <div class="inp">
        <label for="club_moto">Add a moto for your club/organisation (optional)</label><br>
        <input type="text" id="club_moto"name="club_moto" value=""><br>
      </div>
      <div class="inp">
        <label for="descrip">Brief description of your club/organisation</label><br>
        <textarea name="club_descrip" id="descrip"required></textarea>
      </div>
      <div class="inp">
        <label for="purpose">Purpose of your club/organisation</label><br>
        <textarea name="club_purpose" id="purpose"required></textarea>
      </div>
      <div class="est inp">
        <div class="left">
          <label for="mem_size">Estimated member size</label><br>
          <input type="text" onkeypress="return /[0-9]/i.test(event.key)" min="1" name="mem_size"id="mem_size" value=""required>
        </div>
        <div class="right">
          <label for="meet_no">Estimated number of events per year</label>
          <input type="text" onkeypress="return /[0-9]/i.test(event.key)" min="1" name="meet_no"id="meet_no" value=""required>
        </div>
      </div>
      <div class="inp">
        <label for="activites">Activities the club or organisation anticipates for the coming year</label><br>
        <textarea name="club_activites" id="Activities"required></textarea>
      </div>
      <input type="submit" class="btn btn-info" value="Create!">
    </form>


</div>
{% endblock %}
{%block js%}

<script>
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            $('#iminst').html("");
            $('#imagePreview').css('background-image', 'url('+e.target.result +')');
            // $('#imagePreview').fadeIn(650);
            $('.avatar-preview').css('border-color','rgb(160, 164, 171)')
        }
        reader.readAsDataURL(input.files[0]);
    }
  }
  $("#imageUpload").change(function() {
    readURL(this);
  });
</script>
{%endblock%}
