{%extends "signin/base.html"%}
<!DOCTYPE html>
{%load static %}
{%block title%}
<title>Forogt Password</title>
{%endblock%}
{%block css%}
  <link rel="stylesheet" href="{%static "signin/signup.css"%}">
{%endblock%}
{%block body%}

<a id="signin"href="{%url 'signin'%}"><h3>Sign In</h3></a>
<div class="body">
  <div id='title'>
    <span>
      Reset Password
    </span>
  </div>
  <form class="" action="{% url 'password_reset' %}" method="POST">
      {%csrf_token%}
      {% if sent == True %}
        {% if verified == True %}
          <h3>Set a new password!</h3>
          {% if dpwderr == True %}
            <h3>The passwords don't match!</h3>
          {% endif %}
          <div class="INPUT">

            <input type="password" name="npwd" value=""placeholder="New Password"required>

          </div>
          <div class="INPUT">

            <input type="password" name="cnpwd" value=""placeholder="Confirm New Password"required>

          </div>
        {% else %}
          {% if verr == True %}
            <h3>The code is incorrect</h3>
          {% endif %}
          <h3>Please enter the 6 digit code sent to your email
         </h3>
          <div class="INPUT">

            <input type="text" onkeypress="return /[0-9]/i.test(event.key)"maxlength="6"minlength="6" name="rcode" value=""placeholder="6 digit code" required>

          </div>
        {% endif %}

    {% else %}
        <h3>Verify Email</h3>
        {% if err == True %}
          <h3>No account associated with given email</h3>
        {% endif %}
        <div class="INPUT">

          <input type="email" name="email" pattern=".+jpischool.com"value=""placeholder="Email"title="Please use school email."required>

        </div>
    {% endif %}

    <div class="INPUT">
      <input id="submit_signup"type="submit" name="" value="Verify">
    </div>
  </form>

</div>

{%endblock%}
