{%extends "signin/base.html"%}
<!DOCTYPE html>
{% load static %}
{%block title%}
<title>Sign In</title>
{%endblock%}
{%block css%}
  <link rel="stylesheet" href="{%static "signin/signin.css"%}">
{%endblock%}
{%block body%}
<a id="signup"href="{%url 'signup'%}"><h3>Sign Up</h3></a>
<div class="body">
  <div id='title'>
    <span>
      Sign In
    </span>
  </div>

  <form class="" action="{% url 'signin'%}" method="post">
    {%csrf_token%}
    {% if registered == True %}
      <h3>Your email has been verified. Kindly signin below</h3>
    {% endif %}
    {% if pwd_change == True %}
      <h3>Your password has been changed</h3>
    {% endif %}
    {% if cred_err %}
    <h3>No account with the given credentials exists.<br> Kindly reset your password or signup.</h3>
    {% endif %}

    <div class="INPUT">
      <div class="triangle-left"></div>
      <input type="email" name="email" pattern=".+jpischool.com"value=""placeholder="Email"title="Please use school email."required>
      <div class="triangle-right"></div>
    </div>
    <br>
    <div class="INPUT">
      <div class="triangle-left"></div>
      <input type="password" name="pwd" value=""placeholder="Password"required>
      <div class="triangle-right"></div>
    </div>
    <a id="forgotp"href="{%url 'password_reset' %}"><h3>Forgot Password?</h3></a>
    <div class="INPUT">
      <input type="submit" name="" value="Sign In">
    </div>


  </form>
</div>
{%endblock%}
