{%extends "signin/base.html"%}
{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
{% load static %}
{%block title%}
<title>Sign In</title>
{%endblock%}
{%block css%}
  <link rel="stylesheet" href="{%static "signin/signin.css"%}">
{%endblock%}
{%block body%}
<a id="signup"href="{%url 'signup'%}"><h3>Sign Up</h3></a><br>
<a id="google"href="{% provider_login_url "google" %}"><h3>Google</h3></a>
<a id="google"href="https://dev.to/gajesh/the-complete-django-allauth-guide-la3"target="blank"><h3>Gajesh</h3></a>
<a id="google"href="https://learnbatta.com/blog/signup-sign-in-using-google-to-django-application-8/"target="blank"><h3>Gajesh</h3></a>
<div class="body">
  <div id='title'>
    <span>
      Sign In
    </span>
  </div>

  <form class="" action="{% url 'signin'%}" method="post">
    {%csrf_token%}
    {% if registered == True %}
      <h3>Your email has been verified. Kindly signin below</h3>
    {% endif %}
    {% if pwd_change == True %}
      <h3>Your password has been changed</h3>
    {% endif %}
    {% if cred_err %}
    <h3>No account with the given credentials exists.<br> Kindly reset your password or signup.</h3>
    {% endif %}

    <div class="INPUT">

      <input type="email" name="email" pattern=".+jpischool.com"value=""placeholder="Email"title="Please use school email."required>

    </div>
    <br>
    <div class="INPUT">

      <input type="password" name="pwd" value=""placeholder="Password"required>

    </div>
    <a id="forgotp"href="{%url 'password_reset' %}"><h3>Forgot Password?</h3></a>
    <div class="INPUT">
      <input type="submit" name="" value="Sign In">
    </div>


  </form>
</div>
{%endblock%}
