{%extends "signin/base.html"%}
<!DOCTYPE html>
{%load staticfiles%}
{%block css%}
  <link rel="stylesheet" href="{%static "signin/signup.css"%}">
{%endblock%}
{%block body%}
<a id="signin"href="{%url 'login'%}"><h3>Sign In</h3></a>
<div class="body">
  <div id='title'>
    <span>
      Sign Up
    </span>
  </div>
  <form class="" action="" method="post">
    {%csrf_token%}
    <div class="INPUT">
      <div class="triangle-left"></div>
      <input type="text" pattern="[a-zA-Z][a-zA-Z ]+" title="Please use only alphabets"   name="name" value=""placeholder="Full Name" required>
      <div class="triangle-right"></div>
    </div>
    <div class="INPUT">
      <div class="triangle-left"></div>
      <input type="number" onkeypress="return /[0-9]/i.test(event.key)" min="1" max="12" name="grade" value=""placeholder="Grade"required>
      <div class="triangle-right"></div>
    </div>
    <div class="INPUT">
      <div class="triangle-left"></div>
      <input type="text" onkeypress="return /[a-z]/i.test(event.key)" pattern="[A-H]{1}" title="Enter a capital letter between A and H"name="section" value=""placeholder="Section"required>
      <div class="triangle-right"></div>
    </div>
    <div class="INPUT">
      <div class="triangle-left"></div>
      <input type="email" name="email" value=""placeholder="Email"required>
      <div class="triangle-right"></div>
    </div>
    <br>
    <div class="INPUT">
      <div class="triangle-left"></div>
      <input type="password" name="pwd" value=""pattern=".{6,}"title="It must be atleast 6 characters long" placeholder="Password"required>
      <div class="triangle-right"></div>
    </div>

    <div class="INPUT">
      <input type="submit" name="" value="Sign Up">
    </div>


  </form>
</div>

{%endblock%}
